:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme="dark"] body {
  background-color: var(--bg-color);
}

[data-theme="dark"] nav {
  background-color: #071c4d;
}

[data-theme="dark"] footer {
  background-color: #071c4d;
}

[data-theme="dark"] a {
  color:var(--font-color);
}

[data-theme="dark"] p {
  color:var(--font-color);
}

.theme-switch-wrapper {
  display: flex;
  margin-top: 5px;
  margin-left: 20px;
}

.theme-switch p {
  font-size: 12px;
  margin-top: 22px;
  width: 60px;
  margin-left: -10px;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 17px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 17px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

nav {
  background-color: #e1e1ff;
}

nav .navbar-brand {
  font-size: 30px;
}

nav a {
  color: #071c4d;
}

nav .nav-item .active {
  font-weight: bold;
}

header {
  width: 100%;
  height: 100vh;
  background: url("hero-bg.jpg") top right;
  background-size: cover;
}

header h1,
header p {
color: #fff;
}

header h1 {
font-family: "Playfair Display", serif;
font-weight: bold;
padding-top: 200px;
}

header p {
font-size: 22px;
}

header .btn-get-started {
background-color: #ff9e53;
color: #fff;
}

header .btn-get-started:hover {
background-color: #ffaa69;
color: #fff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #071c4d;
  bottom: 0;
  left: calc(50% - 20px);
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
  margin-top: -15px;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 16px;
  padding-right: 2px;
  color: #071c4d;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .my-interest {
  margin-top: 10px;
}

.about .my-interest .interest-wrap {
  width: 25%;
  border-left: 2px solid #728394;
  padding-left: 10px;
}

@media (max-width: 1199.98px) {
  .about .my-interest .interest-wrap {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }
}

.about .my-interest .interest-wrap .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #728394;
}

.about .my-interest .interest-wrap .icon span {
  color: #e1e1ff;
  font-size: 14px;
}

.about .my-interest .interest-wrap .text {
  font-weight: 600;
  color: #071c4d;
  padding-left: 5px;
}

footer {
  background-color: #e1e1ff;
}

footer a {
  color: #071c4d;
}